@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/*
  All colors taken from:
  https://github.com/vedees/uimini
*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: inherit; /*новое свойство*/
  line-height: inherit; /*новое свойство*/
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/
body {
  color: #21243D;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .title {
    font-size: calc(
				28px + 16 *
					((100vw - 320px) / 880)
			);
  }
}
@media (max-width: 1200px) {
  .title {
    line-height: calc(
				35px + 25 *
					((100vw - 320px) / 880)
			);
  }
}

.text {
  font-size: 16px;
  line-height: 145%;
}
@media (max-width: 1200px) {
  .text {
    font-size: calc(
				14px + 2 *
					((100vw - 320px) / 880)
			);
  }
}

.button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: #fc5c65;
  color: #ffffff;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .button {
    font-size: calc(
				20px + 4 *
					((100vw - 320px) / 880)
			);
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sub-title {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .sub-title {
    font-size: calc(
				22px + 8 *
					((100vw - 320px) / 880)
			);
  }
}
@media (max-width: 1200px) {
  .sub-title {
    line-height: calc(
				30px + 14 *
					((100vw - 320px) / 880)
			);
  }
}
@media (max-width: 767.98) {
  .sub-title {
    font-weight: 500;
  }
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-head__title {
  font-size: 22px;
  vertical-align: baseline;
  line-height: 60px;
}
@media (max-width: 1200px) {
  .section-head__title {
    font-size: calc(
				18px + 4 *
					((100vw - 320px) / 880)
			);
  }
}
.section-head__link {
  font-size: 16px;
  color: #00A8CC;
  transition: all 0.3s ease;
}
.section-head__link:hover {
  color: #007f9c;
}

.header {
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .header {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.header__body {
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(118, 0, 0, 0.9);
    padding: 50px;
    transition: left 0.3s ease;
    overflow: auto;
  }
}
.menu__body._active {
  left: 0;
}
.menu__list {
  height: 80px;
  color: #444ce0;
}
@media (max-width: 1200px) {
  .menu__list {
    height: calc(
				50px + 30 *
					((100vw - 320px) / 880)
			);
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    column-gap: 50px;
  }
}
@media (min-width: 767.98px) and (max-width: 1200px) {
  .menu__list {
    column-gap: calc(
				0px + 50 *
					((100vw - 320px) / 880)
			);
  }
}
.menu__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu__link {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30/20 */
  transition: all 0.3 ease;
}
.menu__link:hover {
  color: #fc5c65;
}
@media (max-width: 767.98px) {
  .menu__link {
    color: #fff;
  }
}
.menu__link--active {
  color: #fc5c65;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  width: 100%;
}
.footer__body {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 767.98px) {
  .footer__body {
    min-height: 50px;
  }
}

.greetings {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px 0;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .greetings {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
@media (max-width: 767.98px) {
  .greetings__content {
    margin-bottom: 27px;
  }
}
.greetings__title {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .greetings__title {
    margin-bottom: calc(
				20px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.greetings__button {
  align-self: flex-start;
}
@media (max-width: 767.98px) {
  .greetings__button {
    align-self: center;
  }
}

.content-greetings {
  display: flex;
  gap: 0 12%; /* 108/900 */
  align-items: center;
}
@media (max-width: 767.98px) {
  .content-greetings {
    flex-direction: column-reverse;
  }
}
.content-greetings__text-content {
  flex: 1 1 75%; /* 600/800 */
}
.content-greetings__photo {
  flex: 1 1 25%;
  text-align: center;
}
@media (max-width: 767.98px) {
  .content-greetings__photo {
    flex: 0 0 auto;
    width: 45.789474%; /* 174/380 */
    margin-bottom: 34px;
  }
}

.recent-posts {
  margin: 0 -15px;
  padding: 0 15px;
  background-color: #EDF7FA;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .recent-posts {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.recent-posts__head {
  margin-bottom: 10px;
}
.recent-posts__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .recent-posts__content {
    flex-direction: column;
  }
}
.recent-posts__post {
  width: 48%; /* 414/900 */
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .recent-posts__post {
    width: 100%;
  }
}

.best-works {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .best-works {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.best-works__head {
  margin-bottom: 20px;
}
.best-works__work:not(:last-child) {
  margin-bottom: 30px;
}

.works {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .works {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.works__head {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .works__head {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.works__work:not(:last-child) {
  margin-bottom: 30px;
}

.work {
  padding: 20px;
  display: flex;
  gap: 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}
@media (max-width: 1200px) {
  .work {
    padding: calc(
				10px + 10 *
					((100vw - 320px) / 880)
			);
  }
}
@media (max-width: 767.98px) {
  .work {
    flex-direction: column;
    align-items: center;
  }
}
.work__image {
  flex: 0 1 28%;
  max-width: 240px;
}
@media (max-width: 767.98px) {
  .work__image {
    width: 100%;
    margin-bottom: 15px;
  }
}
.work__content {
  flex: 1 1 507px;
}
@media (max-width: 767.98px) {
  .work__content {
    flex: 0 0 auto;
  }
}
.work__title {
  margin-bottom: 16px;
}
.work__info {
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .work__info {
    gap: calc(
				20px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.work__data {
  padding: 2px 5px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #142850;
}
@media (max-width: 1200px) {
  .work__data {
    font-size: calc(
				16px + 4 *
					((100vw - 320px) / 880)
			);
  }
}
.work__theme {
  color: #8695A4;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .work__theme {
    font-size: calc(
				16px + 4 *
					((100vw - 320px) / 880)
			);
  }
}
.posts {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .posts {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.posts__head {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .posts__head {
    margin-bottom: calc(
				30px + 20 *
					((100vw - 320px) / 880)
			);
  }
}
.posts__post {
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}
.posts__post:not(:last-child) {
  margin-bottom: 30px;
}

.post {
  background-color: #fff;
  padding: 20px;
}
@media (max-width: 1200px) {
  .post {
    padding: calc(
				10px + 10 *
					((100vw - 320px) / 880)
			);
  }
}
.post__title {
  margin-bottom: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .post__title {
    margin-bottom: calc(
				10px + 10 *
					((100vw - 320px) / 880)
			);
  }
}
.post__info {
  display: flex;
  gap: 0 20px;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .post__info {
    margin-bottom: calc(
				10px + 5 *
					((100vw - 320px) / 880)
			);
  }
}
.post__data {
  border-right: 1px solid #000;
  padding-right: 20px;
}
.post__tags {
  padding-right: 20px;
}