// ============
// Файл с блоками
// ============

.title {
   @include adaptiv-font (44, 28, 1);
   @include adaptiv-value( line-height, 60, 35, 1);
   font-weight: 700;
}

.text {
   @include adaptiv-font (16, 14, 1);
   line-height: 145%;
}

.small-text {
   @include adaptiv-font (12, 10, 1);
   line-height: 120%;
}

.button {
   padding: 0.5em 1em;
   border-radius: 0.5em;
   background-color: $danger-color;
   color: $default-color;
   @include adaptiv-font (24, 20, 1);
}

.img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.sub-title {
   @include adaptiv-font (30, 22, 1);
   @include adaptiv-value(line-height, 44, 30, 1);
   font-weight: 700;
   @media (max-width: $md3) {
      font-weight: 500;
   }
}

.section-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

   // .section-head__title
   &__title {
      @include adaptiv-font (22, 18, 1);
      vertical-align:baseline; //middle
      line-height: 60px;
   }

   // .section-head__link
   &__link {
      font-size: 16px;
      color: #00A8CC;
      transition: all 0.3s ease;
      &:hover {
         color: #007f9c;
      }
   }
}